# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\59期Java资料\demo-repository\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
